.dynamic-media-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dynamic-media-video video {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/* DM Player iframe wrapper - 16:9 responsive container */
.dynamic-media-video .dm-video-player-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.dynamic-media-video .dm-video-player-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.dynamic-media-video[data-video-loaded='false'] {
  aspect-ratio: 16 / 9;
  background-color: #f0f0f0;
}

.dynamic-media-video[data-video-loaded='error'] {
  aspect-ratio: 16 / 9;
  background-color: #f8d7da;
}

.dynamic-media-video-wrapper {
  text-align: center;
  width: 100%;
}
